.picture {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%
}

.home_main {
  gap: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_main > aside > h1 > span {
  color: deepskyblue
}

.home_main > aside > h1 {
  font-size: 3rem
}

.home_main > aside > p {
  font-size: 2rem
}